<!DOCTYPE html>
<html class="w-screen h-screen">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Wawa{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="min-w-screen flex flex-col min-h-screen">
        <header class="flex min-w-screen">
            <nav class="bg-gray-800 py-4 w-screen">
                <div class="container mx-auto flex justify-between items-center px-4">
                    <div>
                        <a href="{{ path('homepage') }}">
                            <h1 class="text-white text-2xl font-bold">Wawa</h1>
                        </a>
                    </div>
                    <ul class="flex gap-5">
                        <li><a class="flex items-center gap-1 text-gray-400 hover:text-white transition" href={{ path('app_commandes') }}>
                                {{ ux_icon('bx:purchase-tag') }}
                                <span>Commandes</span></a></li>
                        <li><a class="flex items-center gap-1 text-gray-400 hover:text-white transition" href=#>
                                {{ ux_icon('eos-icons:admin') }}<span>Admin</span></a></li>
                        <li>
                            <a class="flex items-center gap-1 text-red-400 hover:text-red-500 transition" href="{{ path('app_logout') }}">
                                {{ ux_icon('material-symbols:logout-rounded') }}
                                <span>Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <main class="container mx-auto mt-8 grow">
            {% block body %}{% endblock %}
        </main>
        <footer class="bg-gray-800 py-4">
            <p class="text-center text-white">© Ostcom 2026</p>
        </footer>
    </body>
</html>
